<div class="price
  {%- if price_class %} {{ price_class }}{% endif -%}
  {%- if available == false %} price--sold-out {% endif -%}
  {%- if compare_at_price > price %} price--on-sale {% endif -%}
  {%- if product.price_varies == false and product.compare_at_price_varies %} price--no-compare{% endif -%}">
  
  <dl>
    {%- if compare_at_price > price -%}
      <div class="price__sale">
        <dt>
          <span class="visually-hidden">{{ 'products.product.price.sale_price' | t }}</span>
        </dt>
        <dd>
          <span class="price-item price-item--sale">
            {{ price | money }}
          </span>
        </dd>
        <dt>
          <span class="visually-hidden">{{ 'products.product.price.regular_price' | t }}</span>
        </dt>
        <dd>
          <s class="price-item price-item--regular">
            {{ compare_at_price | money }}
          </s>
        </dd>
      </div>
    {%- else -%}
      <div class="price__regular">
        <dt>
          <span class="visually-hidden">{{ 'products.product.price.regular_price' | t }}</span>
        </dt>
        <dd>
          <span class="price-item price-item--regular">
            {{ price | money }}
          </span>
        </dd>
      </div>
    {%- endif -%}
  </dl>
</div>